# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.fvm/

# IDE
.idea/
.vscode/
*.iml
*.iws

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/debug
android/app/profile
android/app/release

# Keystore (JANGAN commit!)
*.jks
*.keystore
keystore/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# OS
.DS_Store
Thumbs.db
